.container{
  padding: 1em;
  h2{
    text-align: center;
  }
  label{
    font-weight: 600;
    margin-right: 0.5em;
  }
  .coffee-form{
    border: 1px solid #777;
    padding: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  .container{
    padding: 1em 0.5em;
  }
}
